<% provide(:title, "Password Reset")%>
<h1>Forgot Password</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:password_resets, url: password_resets_path) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.submit "Send Reset Link", class: 'btn btn-primary' %>
		<% end %>

		<p>
			<% link_to "Signup Here", signup_path %>
		</p>
	</div>
</div>