Hello <strong><%= @user.name %></strong>, 
<p>Please click on the link below to reset your password:</p>

<%= link_to "Click to reset your password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<small>Above link expires in 2 hours</small>
