
        <li>
            <%= gravatar_for user %>
            <%= link_to user.name %>
            <% if current_user.admin? && !current_user?(user) %>
               <p> <%= link_to "Delete user", user, method: :delete, data: {confirm: "You Sure?" } %> </p>
            <% end %>
        </li>
